%center
  %p
    %strong nom:
    = comment.commenter
  %p
    %strong Comment:
    = comment.body
  %p
    = link_to 'Delete comment', [comment.article, comment], |
      method: :delete,                                      |
      data: { confirm: "Are you sure to delete it?" }       |
