%h1 New Article
\%h1
test the extension haml
\#sidebar
\%ul.main
\%li.active
\%a{"href" =&gt; "accueil.html"}
Accueil
\%li
\%a{"href" =&gt; "nouvelles.html"}
Nouvelles
\%li.disabled
\%a Membres
= render "form", article: @article
