<h1>New Article</h1>
%h1
test the extension haml
#sidebar
  %ul.main
    %li.active
      %a{"href" => "accueil.html"}
        Accueil
    %li
      %a{"href" => "nouvelles.html"}
        Nouvelles
    %li.disabled
      %a Membres

<%= render "form", article: @article %>
 
