%h1 Listing Books
%table
  %thead
    %tr
      %th Title
      %th Content
      %th{:colspan => "3"}
  %h1 Articles
  %ul
    - @articles.each do |article|
      %li
        = article.title
  %br/
  = link_to "New book", new_book_path
